html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: black;
  color: rgb(0, 128, 255);
  font-size: 100%;
}

#maze, #maze > div {
  height: 100%;
}

pre {
  /*   font-family: "Consolas", monospace; */
  font-weight: bold;
}

.maze {
  margin: auto auto;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.maze h1.loading {
  color: white;
  font-size: 400%;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}

.maze table {
  border-collapse: collapse;
  margin: auto auto;
}
.maze table td {
  border-color: currentColor;
  border-style: none;
  border-width: 0.2em;
  height: 50px;
  padding: 0;
  width: 50px;
}
.maze table td.west {
  border-left-style: solid;
}
.maze table td.east {
  border-right-style: solid;
}
.maze table td.north {
  border-top-style: solid;
}
.maze table td.south {
  border-bottom-style: solid;
}
